/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.first {
  margin-left: 0;
  margin-right: auto; }

.last {
  margin-left: auto;
  margin-right: 0; }

header {
  width: 100%;
  background-color: #8B7D71;
  border: 1px solid black; }

.menubar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  order: 0;
  width: 75vw;
  margin: 0 auto; }
  .menubar div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0; }
    .menubar div li a {
      display: block;
      height: 30px;
      width: 120px;
      line-height: 30px;
      color: white;
      text-decoration: none;
      padding-left: 5px;
      border-left: 1px solid black;
      border-right: 1px solid black; }

.mainContainer {
  width: 75vw;
  height: 100%;
  margin: 20px auto;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  order: 0; }
  .mainContainer .mainSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    order: 0;
    width: 75%;
    margin: 0 auto; }
    .mainContainer .mainSection .orderTabs ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: stretch;
      align-content: stretch;
      order: 0; }
      .mainContainer .mainSection .orderTabs ul li {
        background-color: #C5A88D;
        cursor: pointer;
        border-top-left-radius: 8px;
        border-top-right-radius: 2px;
        padding: 2px;
        border: 1px solid black; }
      .mainContainer .mainSection .orderTabs ul li.active {
        border-bottom: none; }
    .mainContainer .mainSection .sectionArea {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      order: 0;
      background-color: #C5A88D;
      min-height: 70vh;
      width: 100%; }
      .mainContainer .mainSection .sectionArea .askQuestionBtn a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        order: 0;
        width: 25%;
        height: 40px;
        margin: 10px 10px 0 auto;
        font-size: 1.25em;
        text-decoration: none;
        color: black;
        background-color: #8daac5;
        border: 3px outset #3a5772;
        border-radius: 4px;
        transition: border-color 0.2s ease-out; }
      .mainContainer .mainSection .sectionArea .askQuestionBtn a:hover {
        border-color: #18232e;
        transition: border-color 0.1s ease-in; }
      .mainContainer .mainSection .sectionArea .qOverview {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        order: 0;
        margin: 10px 10px;
        background-color: #806F60;
        padding: 5px 9px;
        border: 1px solid transparent;
        transition: border 0.2s linear; }
        .mainContainer .mainSection .sectionArea .qOverview .qOverviewInfo {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: stretch;
          align-content: stretch;
          order: 0;
          width: 30%;
          border-right: 1px solid black; }
          .mainContainer .mainSection .sectionArea .qOverview .qOverviewInfo .qOverviewInfoDates {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
            order: 0;
            margin-left: 6px;
            margin-right: 16px; }
          .mainContainer .mainSection .sectionArea .qOverview .qOverviewInfo .qOverviewInfoBoxes {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: stretch;
            order: 0; }
            .mainContainer .mainSection .sectionArea .qOverview .qOverviewInfo .qOverviewInfoBoxes div {
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-start;
              align-items: stretch;
              align-content: stretch;
              order: 0;
              text-align: center;
              border: 1px solid black;
              margin-top: 4px; }
        .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: stretch;
          align-content: stretch;
          order: 0;
          width: 55%;
          margin-left: 20px; }
          .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection .qOverviewSectionName {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            order: 0;
            flex: 1; }
            .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection .qOverviewSectionName a {
              text-decoration: none;
              color: white;
              font-size: 1.4em; }
          .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection .qOverviewTags {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            order: 0; }
            .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection .qOverviewTags a {
              text-decoration: none;
              color: lightgray;
              font-size: 0.9em;
              padding: 2px 4px;
              background-color: #8B7D71;
              border: 1px solid #998E84;
              border-radius: 2px;
              margin: 0 2px;
              transition: border-color 0.1s; }
            .mainContainer .mainSection .sectionArea .qOverview .qOverviewSection .qOverviewTags a:hover {
              border-color: #d3ceca;
              transition: border-color 0.1s; }
        .mainContainer .mainSection .sectionArea .qOverview .qOverviewProfile {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: stretch;
          align-content: stretch;
          order: 0;
          width: 15%; }
      .mainContainer .mainSection .sectionArea .qOverview:hover {
        border: 1px solid black;
        transition: border-color 0.2s linear; }
  .mainContainer .sidebar {
    width: 25%;
    margin-left: 5px;
    background-color: #5A727C; }

.banner {
  width: 75vw;
  height: 120px;
  margin: 20px auto;
  background-color: #535C60;
  border: 1px solid black; }

.logIn {
  position: absolute;
  left: 0;
  right: 0;
  top: -217px;
  width: 380px;
  margin: 0 auto;
  padding: 40px 50px;
  border: 4px groove slategray;
  background-color: #5A727C; }
  .logIn form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0; }
    .logIn form label {
      padding-bottom: 2px; }
    .logIn form input {
      margin-bottom: 10px; }

.signUp {
  position: absolute;
  left: 0;
  right: 0;
  top: -320px;
  width: 380px;
  margin: 0 auto;
  padding: 40px 50px;
  border: 4px groove slategray;
  background-color: #5A727C; }
  .signUp form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0; }
    .signUp form label {
      padding-bottom: 2px; }
    .signUp form input {
      margin-bottom: 10px; }

form[name=askQuestionForm] {
  width: 95%;
  margin: 20px auto; }
  form[name=askQuestionForm] #formTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0;
    margin: 20px 0; }
    form[name=askQuestionForm] #formTop label[for=title] {
      font-size: 1.4em;
      line-height: 1.3em;
      padding-right: 6px; }
    form[name=askQuestionForm] #formTop input[name=title] {
      font-size: 1.4em;
      width: 100%; }
  form[name=askQuestionForm] #mceu_13 {
    margin: 20px auto; }
  form[name=askQuestionForm] #formBottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0; }
    form[name=askQuestionForm] #formBottom label[for=tags] {
      font-size: 1.3em;
      line-height: calc(1.3em + 8px);
      padding-right: 8px;
      margin: 0; }
    form[name=askQuestionForm] #formBottom input[name=tags] {
      margin-top: 8px;
      height: 1.3em;
      font-size: 1.3em;
      width: 60%; }
    form[name=askQuestionForm] #formBottom input[name=submitbtn] {
      font-size: 1.3em;
      margin-left: auto;
      padding: 8px 22px;
      border: 3px outset gray;
      border-radius: 8px;
      transition: border-color 0.2s ease-out; }
    form[name=askQuestionForm] #formBottom input[name=submitbtn]:hover {
      border-color: #404040;
      transition: border-color 0.5s ease-out; }

.QACard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  order: 0;
  width: 95%;
  min-height: 310px;
  margin: 10px auto;
  border: 1px solid black; }
  .QACard .QAInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    order: 0;
    width: 20%;
    border-right: 1px solid black; }
    .QACard .QAInfo .votes {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      order: 0; }
      .QACard .QAInfo .votes img {
        opacity: 0.65;
        transition: opacity 0.1s; }
      .QACard .QAInfo .votes img:hover {
        opacity: 1;
        transition: opacity 0.1s; }
    .QACard .QAInfo p {
      padding: 4px 2px; }
  .QACard .QAMain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0;
    width: 80%;
    margin: 4px 4px; }
    .QACard .QAMain .QTitle {
      font-size: 1.4em;
      margin-bottom: 6px;
      border-bottom: 2px solid black; }
    .QACard .QAMain .QAText {
      border: 1px solid black; }
    .QACard .QAMain .QTags {
      margin-top: auto;
      cursor: default;
      padding: 6px 0;
      border-top: 1px solid black; }
      .QACard .QAMain .QTags a {
        text-decoration: none;
        color: #f4f4f4;
        font-size: 0.75em;
        padding: 3px 5px;
        background-color: #8B7D71;
        border: 1px solid #998E84;
        border-radius: 6px;
        margin: 0 2px;
        transition: border-color 0.1s; }
      .QACard .QAMain .QTags a:hover {
        border-color: #d3ceca;
        transition: border-color 0.1s; }

.profileArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  order: 0;
  width: 100%;
  min-height: 60vh;
  border: 1px solid black;
  background-color: #C5A88D; }
  .profileArea hr {
    border-color: black; }
  .profileArea .profileInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    order: 0;
    width: 30%;
    padding-top: 20px; }
    .profileArea .profileInfo .imageContainer {
      max-width: 20.15vw;
      max-height: 20.15vw;
      overflow: hidden;
      border: 1px solid black; }
      .profileArea .profileInfo .imageContainer img {
        max-height: 100%;
        max-width: auto; }
    .profileArea .profileInfo .uploadImg {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      order: 0;
      margin: 4px auto 12px auto; }
      .profileArea .profileInfo .uploadImg label {
        margin: 2px auto 2px 0; }
      .profileArea .profileInfo .uploadImg input[name=profileImage] {
        margin: 2px auto 2px 0; }
      .profileArea .profileInfo .uploadImg input[name=submit] {
        margin: 2px 0 2px auto; }
  .profileArea .profileMain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    order: 0;
    width: 70%;
    padding-top: 40px; }
    .profileArea .profileMain a {
      margin-left: auto;
      margin-right: 7%; }
    .profileArea .profileMain hr {
      width: 86%;
      margin: 12px auto; }
    .profileArea .profileMain .profileTextLabel {
      margin: 6px 20px;
      font-size: 1.25em;
      text-decoration: underline; }
    .profileArea .profileMain .profileText {
      margin: 0 64px;
      font-size: 1.3em; }
    .profileArea .profileMain .profileText:last-child {
      margin: 0 12px;
      font-size: 1.1em; }
    .profileArea .profileMain .profileText.edit {
      width: 80%; }
    .profileArea .profileMain textarea.profileText.edit {
      width: 94%;
      height: 14vh;
      margin: 0 12px;
      font-size: 1.1em; }
    .profileArea .profileMain input[name=submit] {
      margin: 8px 0 12px 12px;
      font-size: 1.05em; }

footer {
  width: 100%;
  height: 50px;
  color: lightgray;
  background-color: #715F4E; }

* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  order: 0;
  background-color: #998E84; }

html, body {
  margin: 0;
  min-height: 100vh; }

/* Below this line are temporary values mainly used for testing */

/*# sourceMappingURL=mainpage.css.map */
