$colorBase: #1775BE;
$colorLight: #3C8AC6;
$colorLightest: #64A3D4;
$colorDark: #085B9A;
$colorDarkest: #054475;

//Accent colors: 
$colorAccent: #0CC671;
$colorAccentLight: #5FDAA2;
$colorAccentDark: #00A55A;
$colorAccentDarkest: #007E45;