$colorBase: #998E84;
$colorLight: #8B7D71;
$colorLightest: #C5A88D;
$colorDark: #806F60;
$colorDarkest: #715F4E;

//Accent colors: 
$colorAccent: #535C60;
$colorAccentLight: #5A727C;
$colorAccentDark: #475357;